{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-item">
        <label for="brand">Brand</label>
        <select name="brand" id="brand">
            <option value="Huyndai">Huyndai</option>
            <option value="Toyota">Toyota</option>
            <option value="Mercedes-Benz">Mercedes-Benz</option>
            <option value="Lexus">Lexus</option>
            <option value="Ford">Ford</option>
        </select>
      </div>
      <div class="form-item">
        <label for="price">Price</label>
        <input placeholder="Price" name="price">
      </div>
      <div class="form-item">
        <label for="year">Year</label>
        <select name="year" id="year">
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2017">2017</option>
        </select>
      </div>
      <button type="submit">Send</button>
    </form>
    <table>
      <tr>
        <th>Brand</th>
        <th>Price</th>
        <th>Year</th>
      </tr>
      <tr>
        <td>{{brand}}</td>
        <td>{{price}}</td>
        <td>{{year}}</td>
      </tr>
    </table>
{% endblock %}